.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  top: 15px;
}

#charmander {
  top: 45px;
}

#squirtle {
  top: 95px;
}

#pikachu {
  top: 175px;
}

#jigglypuff {
  top: 333px;
}
