h1 {
  font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
}

h2 {
  font-family: 'DynaPuff', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 35px;
}
